/**
 * @file
 * Shared styles between the content and media browsers.
 */

.views-field-entity-browser-select {
  display: none;
}

nav.eb-tabs  ul {
  border-bottom: none;
}

nav.eb-tabs  ul li.active {
  border-bottom: 2px solid #f6b2b5;
}

nav.eb-tabs  ul li.active a,
nav.eb-tabs  ul li:hover a {
  color: #ee6e73;
  text-decoration: none;
}

nav.eb-tabs  ul li a {
  text-transform: uppercase;
  color: rgba(238,110,115,0.7);
  transition: .2s;
}

nav.eb-tabs  li:only-child {
  display: none;
}

.form-type-upload,
.form-type-textarea {
  margin-left: 30px !important;
}

.exposed-form-collapsible .collapsible-header {
  margin-bottom: .5rem;
}

.exposed-form-collapsible .collapsible-body {
  padding-top: 2rem;
}

.card .card-content {
  color: white;
  display: flex;
  align-items: center;
}

.card .field--name-field-product-media .field__item:not(:first-child) {
  display: none;
}

.card {
  cursor: pointer;
}

.views-row .views-field-rendered-entity,
.views-row .views-field-content-browser-preview {
  transition: .2s;
}

.views-row.checked .views-field-rendered-entity,
.views-row.checked .views-field-content-browser-preview {
  background: rgb(66, 133, 244);
}

.views-field-rendered-entity > .field-content,
.views-field-content-browser-preview > .field-content {
  display: block;
  transition: .2s;
}

.views-row.checked .views-field-rendered-entity > .field-content,
.views-field-rendered-entity > .field-content:hover,
.views-row.checked .views-field-content-browser-preview > .field-content,
.views-field-content-browser-preview > .field-content:hover {
  transform: translateZ(0) scale(.98);
}

.check-indicator {
  position:  absolute;
  left: 5px;
  top: 5px;
  color: rgba(255, 255, 255, 0.36);
  transition: .2s;
}

.views-row:hover .check-indicator {
  color: rgb(255, 255, 255);
}

.views-row.checked .check-indicator {
  color: rgb(66, 133, 244)
}

.card .contextual {
  display: none;
}

.card .card-image img,
.card .card-image audio,
.card .card-image video {
  width: 100%;
  height: auto;
  /* Please, don't change these rules. */
  display: inline-block;
  vertical-align: bottom;
  border-radius: 0;
  margin: 0;
}

.card [class*=socicon-] {
  font-size: 24px;
}

.entity-browser-form > .form-actions,
.entity-browser-form > .content-browser-actions {
  position: fixed;
  z-index: 1;
  bottom: 0;
  padding: 10px 0 20px 30px;
  background: white;
  width: 100%;
  border-top: 1px solid lightgray;
  max-height: 70px;
  height: 70px;
  box-sizing: border-box;
}

.entity-browser-form {
  padding-bottom: 70px;
  background: white;
}

#panels-ipe-tray,
#toast-container,
.messages .message-header {
  display: none;
}

.messages {
  padding: 0;
  margin: 20px 30px 0 30px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2) !important;
}

.messages .row {
  padding: 0;
}

.messages .card {
  background: none;
  box-shadow: none;
  margin: 0;
  cursor: inherit;
}

.messages .card-content {
  padding: 10px;
}

.messages .message-content {
  color: black;
  font-size: 14px;
}

/**
 * Style override for entity browser's layout.
 */

/* Dismiss the margin of hidden tab links */
.entity-browser-form .eb-tabs ~ .waves-input-wrapper {
  margin: 0;
}

/**
 * Grid system for entity browsers.
 */
.browser--row .view-content,
.browser--row .view-content [data-drupal-views-infinite-scroll-content-wrapper] {
  display: flex;
  flex-wrap: wrap;
}

.browser--item .card,
.browser--item > .views-field-rendered-entity,
.browser--item > .views-field-content-browser-preview,
.browser--item > .views-field-rendered-entity > .field-content,
.browser--item > .views-field-content-browser-preview > .field-content {
  display: flex;
  width: 100%;
  border-radius: 2px;
}

.browser--item .card {
  flex-direction: column;
  overflow: hidden;
  margin: 0;
  transform: translateZ(0);
}

.browser--item .card-image {
  transform: translateZ(0);
}

.browser--item .card-content {
  font-size: 12px;
  flex: 1 0 auto;
  transform: translateZ(0);
  padding: 24px;
}

.browser--item .card-content p {
  margin-bottom: 0;
}

.browser--item .card-content .left {
  margin-right: 15px;
}

@media screen and (min-width: 700px) {
  .browser--item .card-content {
    font-size: 14px;
  }
}

/**
 * Views preview.
 */
.views-live-preview div.views-row.browser--item + div.views-row.browser--item {
  margin-top: 0;
}

.views-live-preview .browser--item .views-field {
  width: 100%;
}

.views-live-preview .browser--item .field-content,
.views-live-preview .browser--item .card {
  height: 100%;
}

/**
 * Custom grid and column sizes for entity browser items
 */
.browser--row .browser--item {
  display: flex;
  margin-bottom: 1.5rem;
  padding: 0 0.75rem;
  transform: translateZ(0);
  box-sizing: border-box;
}

@media screen and (min-width: 450px) {
  .browser--row .browser--item {
    width: 50%;
  }
}

@media screen and (min-width: 700px) {
  .browser--row .browser--item {
    width: 33.3333%;
  }
}

@media screen and (min-width: 1000px) {
  .browser--row .browser--item {
    width: 25%;
  }
}

@media screen and (min-width: 1200px) {
  .browser--row .browser--item {
    width: 20%;
  }
}
