/**
 * @file
 * Simple overrides on top of the Material Admin theme.
 *
 */

.entities-list.ui-sortable {
  overflow:auto;
}

@media screen and (max-width: 480px) {
  div.fixed-action-btn.horizontal {
    padding: 15px 0 0 0;
  }
  div.fixed-action-btn.horizontal ul {
    text-align: center;
    right: 0;
    left: 0;
    top: inherit;
    transform: none;
    width: inherit;
    height: inherit;
  }
  div.fixed-action-btn.horizontal ul li {
    display: block;
    margin: 0 0 15px 0;
    padding-right: 0;
  }
}

/**
 * Entity browser modal enhancements.
 */
.ui-dialog-content > div:first-child:last-child:not([class]) {
  max-height: 100%;
  width: 100%;
  position: relative;
  height: 100%;
}

/* Fix iframe height inside a dialog */
.ui-dialog-content > div > iframe.entity-browser-modal-iframe {
  height: 100% !important;
}
